<fieldset>
  <legend>Destino</legend>
  <!--<h1>Destinos</h1>-->
  <form ng-submit="adicionarIntinerario(dados.intinerario)">
    <div class="row">
      <div class="col-lg-2">
        <label for="pais">País</label>
        <select-pais name="pais" ng-model="dados.intinerario.pais" ng-required="true" chosen/>
      </div>

      <div class="col-lg-2">
        <label for="cidade">Cidade</label>
        <input type="text" name="cidade" ng-model="dados.intinerario.cidade" ng-required="true"/>
      </div>

      <div class="col-lg-2">
        <label for="chegada">Chegada</label>
        <input type="date" name="chegada" ng-model="dados.intinerario.chegada" ng-required="true"/>
      </div>

      <div class="col-lg-2">
        <label for="saida">Saída</label>
        <input type="date" name="saida" ng-model="dados.intinerario.saida" ng-required="true"/>
      </div>

      <div class="col-lg-2">
       <label for="adicionar" style="display: -webkit-box;">&emsp;</label>
       <input name="adicionar" type="submit" class="btn-small btn-primary" value="Adicionar">
      </div>
    </div>
  </form>
</fieldset>


<fieldset>
  <legend>Destinos</legend>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>País</th>
          <th>Cidade</th>
          <th>Chegada</th>
          <th>Saída</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="destino in destinos">
          <td>{{destino.pais.name}}</td>
          <td>{{destino.cidade}}</td>
          <td>{{destino.chegada | date: "dd/MM/yyyy"}}</td>
          <td>{{destino.saida | date: "dd/MM/yyyy"}}</td>
          <td>
            <div class="btn-toolbar" role="toolbar">
              <button type="button" class="btn btn-default btn-sm" ng-click='showTempo(destino)'>
                <span class="glyphicon glyphicon-info-sign" />
              </button>
              <button type="button" class="btn btn-default btn-sm" ng-click='editar(destino)'>
                <span class="glyphicon glyphicon-edit" />
              </button>
              <button type="button" class="btn btn-danger btn-sm" ng-click='deletar(destino)'>
                <span class="icon glyphicon glyphicon-trash" />
              </button>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <modal title='Tempo' bind-to='modalTempo'>
    <modal-content>
      <form class="form" rule="form">

        <div class="row">
          <div class="col-lg-2">
            <div class="form-group">
              <label class="control-label" for='tempo.name'>Cidade</label>
              <samp> {{tempo.name}}</samp>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="form-group">
              <label class="control-label" for='tempo.main.pressure'>Pressão</label>
              <samp> {{tempo.main.pressure}}</samp>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="form-group">
              <label class="control-label" for='tempo.main.temp'>Temperatura</label>
              <samp> {{tempo.main.temp}} °C</samp>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-2">
            <div class="form-group">
              <label class="control-label" for='empo.main.temp_max'>Máxima</label>
              <samp>{{tempo.main.temp_max}} °C</samp>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="form-group">
              <label class="control-label" for='tempo.main.temp_min'>Mínima</label>
              <samp>{{tempo.main.temp_min}} °C</samp>
            </div>
          </div>
        </div>

        </form>
        <modal-footer>
          <button type="button" class="button button-default" ng-click='fecharModalTempo()' value="Fechar" />
        </modal-footer>
    </modal-content>
  </modal>
</fieldset>