<fieldset>
  <legend>Destino</legend>
  <!--<h1>Destinos</h1>-->
  <form ng-submit="adicionarIntinerario(dados.intinerario)">
    <div class="row">
      <div class="col-lg-3">
        <label for="pais">País</label>
        <select-pais name="pais" ng-model="dados.intinerario.pais" ng-required="true" chosen/>
      </div>

      <div class="col-lg-3">
        <label for="cidade">Cidade</label>
        <input type="text" name="cidade" ng-model="dados.intinerario.cidade" ng-required="true"/>
      </div>

      <div class="col-lg-3">
        <label for="chegada">Chegada</label>
        <input type="date" name="chegada" ng-model="dados.intinerario.chegada" ng-required="true"/>
      </div>

      <div class="col-lg-3">
        <label for="saida">Saída</label>
        <input type="date" name="saida" ng-model="dados.intinerario.saida" ng-required="true"/>
      </div>

      <div class="col-lg-3">
       <input type="submit" class="btn-small btn-primary" value="Adicionar">
      </div>
    </div>
  </form>
</fieldset>


<fieldset>
  <legend>Destinos</legend>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>País</th>
        <th>Cidade</th>
        <th>Data</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="destino in destinos">
        <td>{{destino.pais.name}}</td>
        <td>{{destino.cidade}}</td>
        <td>{{destino.chegada | date: "dd/MM/yyyy"}}</td>
        <td>{{destino.saida | date: "dd/MM/yyyy"}}</td>
        <td>
          <a class="btn btn-default btn-sm" ng-click='editar(destino)'>
            <i class="glyphicon glyphicon-edit" />
          </a>
          <a class="btn btn-danger btn-sm" ng-click='deletar(destino)'>
            <i class="icon glyphicon glyphicon-trash" />
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</fieldset>